<div class='container'>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= @category.name %></h1>
        <p class="lead text-muted">
          <%= @category.description %>
        </p>
      </div>
    </div>
  </section>

  <%- if current_staff %>
    <%= link_to 'New', new_category_article_path(@category), class: 'btn btn-primary' %>
    <br />
    <br />
  <% end %>

  <ul class="list-group">
    <%- @articles.each do |article| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <h4>
          <%= link_to article.title, category_article_path(@category, article) %>
        </h4>
        <%- if current_staff %>
          <span class="badge <%= article_badge_color(article) %> rounded-pill"><%= article.state %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>


