<!DOCTYPE html>
<html>
  <head>
    <title>Support | OhMySecurity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <%= stylesheet_link_tag "ohmysupport/application", media: "all" %>
  </head>

  <body>
    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-light bg-light shadow-sm">
        <div class="container">
          <a href="<%= root_path %>" class="navbar-brand d-flex align-items-center">
            <img width="32px" src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSIxNzkyIiB2aWV3Qm94PSIwIDAgMTc5MiAxNzkyIiB3aWR0aD0iMTc5MiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNODk2IDBxMTgyIDAgMzQ4IDcxdDI4NiAxOTEgMTkxIDI4NiA3MSAzNDgtNzEgMzQ4LTE5MSAyODYtMjg2IDE5MS0zNDggNzEtMzQ4LTcxLTI4Ni0xOTEtMTkxLTI4Ni03MS0zNDggNzEtMzQ4IDE5MS0yODYgMjg2LTE5MSAzNDgtNzF6bTAgMTI4cS0xOTAgMC0zNjEgOTBsMTk0IDE5NHE4Mi0yOCAxNjctMjh0MTY3IDI4bDE5NC0xOTRxLTE3MS05MC0zNjEtOTB6bS02NzggMTEyOWwxOTQtMTk0cS0yOC04Mi0yOC0xNjd0MjgtMTY3bC0xOTQtMTk0cS05MCAxNzEtOTAgMzYxdDkwIDM2MXptNjc4IDQwN3ExOTAgMCAzNjEtOTBsLTE5NC0xOTRxLTgyIDI4LTE2NyAyOHQtMTY3LTI4bC0xOTQgMTk0cTE3MSA5MCAzNjEgOTB6bTAtMzg0cTE1OSAwIDI3MS41LTExMi41dDExMi41LTI3MS41LTExMi41LTI3MS41LTI3MS41LTExMi41LTI3MS41IDExMi41LTExMi41IDI3MS41IDExMi41IDI3MS41IDI3MS41IDExMi41em00ODQtMjE3bDE5NCAxOTRxOTAtMTcxIDkwLTM2MXQtOTAtMzYxbC0xOTQgMTk0cTI4IDgyIDI4IDE2N3QtMjggMTY3eiIvPjwvc3ZnPg==">
            &nbsp;
            <strong>OhMySecurity | Support</strong>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer class="text-muted py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">&copy; OhMySecurity.io 2022</p>
      </div>
    </footer>

    <script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  </body>
</html>
